<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unleashing Stellar Creativity | StarPlace</title>
    <meta property="og:title" content="Unleashing Stellar Creativity - StarPlace">
    <meta property="og:description" content="Unleashing Stellar Creativity | StarPlace">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/885456195152928768/1142511468084998286/1692465420.png">
    <link rel="canonical" href="https://about:blank">
    <link rel="alternate" media="handheld" href="https://about:blank">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://about:blank">
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/885456195152928768/1142511468084998286/1692465420.png">
    <meta name="description" content="Unleash your Stellar Creativity, with StarPlace - where communities come together!">
    <meta property="og:site_name" content="Unleashing Stellar Creativity - StarPlace">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/cookies') %>
    <%- include('../partials/header', { username: username, uid: uid }) %>
      
    <div class="body_main">
        <div id="home-wrapper" style="align-items: flex-start; width: 85%; max-width: 1280px; justify-content: space-between; margin-left: auto; margin-right: auto; padding-top: 80px; padding-bottom: 80px; display: flex; position: relative;">
            <div id="home-left">
                <h1 id="home-heading" style="margin-bottom: 16px; letter-spacing: -1.6px; font-size: 72px; font-weight: 800; line-height: 105%; margin-top: 0;">StarPlace.</h1>
                <h1 id="home-heading" style="margin-bottom: 16px; letter-spacing: -1.6px; font-size: 72px; font-weight: 800; line-height: 105%; margin-top: 0;">Unleashing Stellar Creativity.</h1>
                <p id="home-subheading" style="margin-bottom: 16px; line-height: 205%;">Free for Everyone, Forever.</p>
                <a style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d; background-color: #d1087a; padding: 20px 25px; border-radius: 8px; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; line-height: 120%;" href="/auth?utm_src=temp%20one&utm_source=temp%20one">Join the Beta.</a>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="https://cdn.discordapp.com/attachments/911590109462278165/1142176822101033110/1000004315-picsay.png" style="max-width: 100%;">
    </div>
    <div style="padding-top: 12rem;">
        <h3>This platform is brought to you by Hydraulisc</h3>
        <div style="display: flex; justify-content: center;">
            <img src="https://cdn.virtualwaifubot.com/icons/Hydraulisc-power.png" style="width: 900px; max-width: 100%; height: auto;">
        </div>
    </div>

    <!--
        hi, this entire page is supposed to be temporary!
        in case you're wondering, this is a Hydraulisc powered app lol. Your data is now ours~
                Communism lol.
    -->
</body>
</html>